:root {
  ---bg-color: #11001c;
  ---primary: #2e165b;
  ---secondary: #7e4eac;
  ---hover: #7400bb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: var(---bg-color);
}
a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* navbar styling */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  padding-right: 1.5rem;
}

.hamburger-menu {
  cursor: pointer;
  position: absolute;
  top: 1rem;
}

.hamburger-menu .line {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #7e4eac;
}

.nav-menu {
  position: fixed;
  width: 94%;
  top: 6rem;
  right: 18px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
}
.nav-menu a {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.nav-menu a:hover {
  color: var(---hover);
}

.hide {
  display: none;
}

/* for Desktop view */
@media screen and (min-width: 600px) {
  .navbar {
    justify-content: flex-end;
  }
  .nav-menu {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }
  .nav-menu a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger-menu {
    display: none;
  }
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container{
  position: absolute;
  top: 0;
  z-index: 10000;
}
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 10rem;
  font-weight: bold;
  color:#b572f495;
  z-index: 1; /* Ensures the text is above the canvas */
}