/* Importing Font */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* :root Variables for Colors */
:root {
  --bg-color: #11001c;
  --primary: #2e165b;
  --secondary: #7e4eac;
  --hover: #7400bb;
}

/* Resetting Box Model and Default Margins/Paddings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Body Styling */
body {
  font-family: "Chakra Petch", serif;
  font-weight: 600;
  font-style: italic;
  background-color: var(--bg-color);
  color: white;
  height: 100%;
  overflow: auto;
}

/* Anchor Tags Styling */
a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  padding-right: 1.5rem;
}

.hamburger-menu {
  cursor: pointer;
  position: absolute;
  top: 1rem;
}

.hamburger-menu .line {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: var(--secondary);
}

.nav-menu {
  position: fixed;
  width: 94%;
  top: 6rem;
  right: 18px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
}

.nav-menu a {
  display: block;
  text-align: center;
  padding: 5px 0;
}

.nav-menu a:hover {
  color: var(--hover);
}

.hide {
  display: none;
}

/* Navbar Styling for Desktop View */
@media screen and (min-width: 600px) {
  .navbar {
    justify-content: flex-end;
  }
  .nav-menu {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }
  .nav-menu a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger-menu {
    display: none;
  }
}

/* Canvas Styling */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Welcome Text Styling */
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 10rem;
  font-weight: bold;
  color: #b572f495;
  z-index: 1;
}

/* About Section Styling */
.about {
  padding: 50px 20px;
  text-align: center;
  margin-top: 40%;
}

.secondary_heading h1 {
  margin: 3rem 0;
  color: var(--secondary);
  font-size: 5rem;
}

/* About Text Animation */
.secondary_heading span {
  transition: font-weight 0.4 ease-in;
  animation: floating-secondary 2.5s cubic-bezier(0, 0.37, 0, 0.63, 1);
}

.about span:hover {
  font-weight: 100;
}

@keyframes floating-secondary {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5vh);
  }
}
.about_discription,
.about_discription2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

/* Section-specific layout adjustments */
.about_discription {
  flex-direction: row-reverse;
}

.about_discription2 {
  flex-direction: row;
}

/* Common styles for the text content */
.text_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Spacing between subheading, paragraph, and buttons */
}

.text_content h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color:var(--secondary);
}

.text_content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  font-weight: lighter; 
  margin-bottom: 10px;
}

.button_group {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10px; /* Spacing between buttons */
}

.button_group button {
  background-color:#360058;
  color: white;
  border: none;
  padding:1.5rem 3rem;
  border-radius:1cm;
  cursor: pointer;
  font-size: 0.9rem;
}
.button_group button:hover{
  background-color: var(--hover);
}
.button_group button a {
  text-decoration: none;
  color: white;
}
.button_group {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10px; /* Spacing between buttons */
}
.element_img,
.element_img2 {
  flex: 0 0 auto;
  max-width: 40%;
}

.element_img img,
.element_img2 img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}


/* Details Section Styling */
.details {
  padding: 50px 20px;
  text-align: center;
}
.secondary_heading {
  margin: 3rem 0;
  color: var(--secondary);
  font-size: 3rem;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card {
  position: relative;
  width: 320px;
  height: 330px;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background-color: #7300bb3b;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* Contact Section Styling */
.contact {
  padding: 100px;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 600px;
 
  border: 2px solid transparent;
  padding: 32px 24px;
  border-radius: 16px;
  color: white;
}

.form-container .form-group {
  margin-bottom: 20px;
}

.form-container label {
  margin-bottom: 8px;
  font-size: 14px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid #414141;
  color: white;
  border-radius: 8px;
}

.form-container button {
  padding: 10px 20px;
  background-color: var(--secondary);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.form-container button:hover {
  background-color: var(--hover);
}
